:root {
  .container {
    width: 20rem;
  }

  .albumImagePopulated {
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.35);
    transition: 0.5s ease;
    &:hover {
      opacity: 0.8;
    }
  }

  .albumPropertiesContainer {
    overflow: hidden;
    flex-grow: 1;
    padding-left: 1rem;
    box-sizing: border-box;
  }

  .albumProperty {
    /* sets the width to fit the text content this is so that
    ** the infinite scroller can detect if the text overflows
    */
    width: fit-content;
    cursor: default;
  }

  .albumTitle {
    margin: 4px 0;
    font-weight: 600;
    white-space: nowrap;
  }
}
