:root {
  --arrow-size: 0.12rem;
  .arrow {
    display: inline-block;
    border: solid black;
    border-width: 0 var(--arrow-size) var(--arrow-size) 0;
    padding: var(--arrow-size);
    transition: all 0.3s ease;
  }

  /* pointing down */
  .collapsed {
    transform: rotate(45deg);
  }

  .expanded {
    transform: rotate(-135deg);
  }
}
