.tableHeader {
  background-color: var(--mantine-color-white);
  position: sticky;
  top: 0;
  /* Need to provide z-index to be above the checkboxes */
  z-index: 1;
}

.scrolled {
  box-shadow: var(--mantine-shadow-sm);
}
